.signup-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .signup-page form {
    width: 400px; /* Adjust the width as needed */
  }
  
  .signup-page .form-floating input {
    width: 100%;
    margin-bottom: 7px;
  }